<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Indium Insurance Portal</a>
    </div>
    <!-- Links -->
    <ul class="navbar-nav navbar-left">
      <!-- Insurance Provider -->
      <li class="nav-item" routerLink="/add-category" *ngIf="insuranceProvider">
        <a class="nav-link">Add Category</a>
      </li>
      <li class="nav-item" routerLink="/add-plans" *ngIf="insuranceProvider">
        <a class="nav-link">Add Plans</a>
      </li>

      <!-- Insurance Holder -->
      <li class="nav-item" *ngIf="policyHolder" routerLink="/view-plans"><a class="nav-link" >View Plans</a></li>
     
      <li class="nav-item" routerLink="/my-policies" *ngIf="policyHolder"><a class="nav-link" >My Policies & Claim</a></li>
      

      <!-- Inspector -->
      <li class="nav-item" routerLink="/claim-request" *ngIf="inspector">
        <a class="nav-link">Claim Request</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" routerLink="/login" *ngIf="loginRegister">
        <a class="nav-link">Login</a>
      </li>
      <li
        class="nav-item"
        routerLink="/logout"
        *ngIf="logout"
        (click)="logoutFunction()"
      >
        <a class="nav-link">Logout</a>
      </li>
      <li class="nav-item" routerLink="/register" *ngIf="loginRegister">
        <a class="nav-link">Register</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
