<app-insurance-provider-nav></app-insurance-provider-nav>
<div class="col-md-6 offset-md-3">
  <br />

  <div class="card card-outline-secondary">
    <div class="card-body">
      <h4 class="text-center">Add Insurance Category</h4>
      <hr>
      <form class="form-container" name="form" autocomplete="off" #categoryform="ngForm">
        <div class="form-group">
          <label for="insurance_provider_name">Insurance Provider Name</label>
          <input type="text" class="form-control" id="insurance_provider_name" title="Ex: ICICI/Bajaj Life Insurance"
            [(ngModel)]="InsurerData.insurance_provider_name" name="insurance_provider_name" #insurance_provider_name="ngModel"
            placeholder="Ex: ICICI/Bajaj Life Insurance" required readonly/>
          <div *ngIf="(insurance_provider_name.dirty || insurance_provider_name.touched) && insurance_provider_name.invalid">
            <div *ngIf="insurance_provider_name.errors.required"class="alert alert-danger">Provider Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="category">Category Name</label>
          <input type="text" class="form-control" id="catgeory"autocomplete="off" maxlength="20" title="Ex: Vehicle/Life Insurance"
            [(ngModel)]="InsurerData.category" name="category" #category="ngModel" placeholder="Ex: Vehicle/Life Insurance"
            required />
          <div *ngIf="(category.dirty || category.touched) && category.invalid">
            <div *ngIf="category.errors.required" class="alert alert-danger">Category is required</div>
          </div>
        </div>


        <div class="row d-flex justify-content-center">
          <div class="col-sm-6 col-md-5 col-lg-2">
            <button type="reset" class="btn btn-success btn-md">
              Reset
            </button>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-2">
            <button type="submit" (click)="insurercategory();" [disabled]="!categoryform.valid" class="btn btn-primary btn-md">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>