/*.card{
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(43,43,43,0.1), 0 11px 6px -7px rgba(43,43,43,0.1);
    border: none;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}
.card .card-header{
    background-color: transparent;
    border-bottom: none;
    padding: 20px;
    position: relative;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card .card-header h5 {

    margin-bottom: 0;
    color: #333;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    margin-right: 10px;
    line-height: 1.1;
    position: relative;
    font-family: "Quicksand",sans-serif;
}
.card .card-block.p-b-0 {
    padding-bottom: 0;
}
.table-card .card-block {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.table-responsive {
    display: inline-block;
    width: 100%;
    overflow-x: auto;
}
.m-b-0 {
    margin-bottom: 0px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    display: table;
    border-spacing: 2px;
    border-color: grey;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr{
    
}*/
.card{
    max-height: 500px;
    overflow-y: scroll;
    background-color: #ffffff;
 }

 li p{
    margin: 0;
    padding: 10px 0;
    box-shadow: 5px 1px 9px #888888;
    padding-left:10px;
    background-color:#ffe9e9;
}

.header-title{
    padding-top: 26px;
}

