<!--<div class="card table-card">
  <div class="card-header">
    <h5>Data From BlockChain Ledger</h5>
    <div class="card-block p-b-0">
      <div class="table-responsive">
        <div class="table table-hover m-b-0">
          <thead>

          </thead>
        </div>
      </div>
    </div>
  </div>
</div>-->
<div class="panel card">
    <div class="panel-heading">
      <h3 class="text-center header-title">User Certificate</h3>
    </div>
  
    <div class="panel-body card-body">
      <ul class="list-unstyled">
        <li>
          <p>
            <label><b>Email</b></label>&nbsp;
            <span class="number">{{blockUser}}</span><br />
            <label><b>Signin Certificate</b></label>&nbsp;
            <span class="data"></span>{{blocksignin}}<br />
            <label><b>Certificate</b></label>&nbsp;
            <span class="previous">{{blockcertificate}}</span><br />
           
          </p>
        </li>
      </ul>
    </div>
  </div>
