
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Merienda');


.app-title li{
    font-family: 'Merienda', cursive;
    color: white;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    cursor: default;
}
.img1{
    width: 50px;
    background-size: cover;
    height: 46px;
    top: 50px;
    border-radius: 60px;
    /* z-index: 9; */
    /* bottom: 51px; */
    /* left: 0; */
    /* right: 0; */
    padding-right: 50;
    margin: -13px;
    position: initial;
}
:host::ng-deep .sidebar .nav-link .nav-icon{
    color:white;
}

a.dropdown-item{
    text-align: center;
    cursor: pointer;
}

.dropdown-item i{
    width: 0;
}

.navbar-nav .active > .nav-link {

    color:white;
}
a:hover{
    background-color: #20a8d8;
}
:host ::ng-deep .sidebar .nav-link {
    color:white;
    
}
:host ::ng-deep .sidebar .nav-link.active {
background: rgba(0, 0, 0, 0.5);
}
:host ::ng-deep .aside-menu{
    background-color: rgba(0, 0, 0, 0.5);
    border-right: solid 1px white;
    color:white;
}



:host ::ng-deep .sidebar{
    background: rgba(0, 0, 0, 0.5);
    border-right: solid 1px white;
    color:white;
}
:host::ng-deep .app-header .navbar-brand{
    pointer-events: none;
    cursor: default;
}


@media screen and (max-width: 992px) {
    :host ::ng-deep a.navbar-brand{
        display: none;
    }

    .app-title li{
        font-size: 1rem;
    }
}
.navbar-nav .active > .nav-link {
    color:white;
}
a:hover{
    background-color: #20a8d8;
}
