<app-policy-holder-nav></app-policy-holder-nav>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br />
      <div class="card" *ngIf=vehicleData>
        <div class="card-body" *ngFor="let vehicle of vehicleData">
          <h5 class="card-title d-flex justify-content-center">
            You have opted to claim insurance for the below Vehicle
          </h5>
          <hr />
          <div>
            <!-- Vehicle & Personal Info -->
            <div class="card-text">
              <h6>Insured Vehicle Details</h6>
            </div>

            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Email</th>
                  <td>{{vehicle.email}}</td>
                </tr>
                <tr>
                  <th>Owner Name</th>
                  <td>{{vehicle.owner_name}}</td>
                </tr>
                <tr>
                  <th>Vehicle Model</th>
                  <td>{{vehicle.vehicle_model}}</td>
                </tr>
                <tr>
                  <th>Vehicle No.</th>
                  <td>{{vehicle.vehicle_number}}</td>
                </tr>
                <tr>
                  <th>Vehicle Price</th>
                  <td>{{vehicle.vehicle_price}}</td>
                </tr>
                <tr>
                  <th>Purchased Date</th>
                  <td>{{vehicle.purchased_date}}</td>
                </tr>
                <tr>
                  <th>Accident Involved</th>
                  <td>{{vehicle.accident_involved}}</td>
                </tr>
                <tr *ngIf="vehicle.accident_involved=='yes'">
                  <th>Comments</th>
                  <td>{{vehicle.comments}}</td>
                </tr>
              </tbody>
            </table>

            <!-- Policy Info -->
            <div class="card-text">
              <h6>Chosen Policy Details</h6>
            </div>

            <table class="table table-bordered">
              <tbody>

                <tr>
                  <th>Insured Year </th>
                  <td>{{vehicle.insurance_plans.insurance_plan_year}}</td>
                </tr>
                <tr>
                  <th>Insured For</th>
                  <td>{{vehicle.insurance_plans.insurance_for}}</td>
                </tr>
                <!--<tr >
                  <th>Sum Insured</th>
                  <td>{{vehicle.insurance_plans.sum_insured}}</td>
                </tr>  -->
                <tr>
                  <th>Annual Premium</th>
                  <td>{{vehicle.insurance_plans.yearly_premium}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <!-- Claiming Reason Component -->
    <div class="col-md-6" *ngFor="let vehicle of vehicleData">
      <app-claiming-reason [parentdata]="vehicle.purchased_date"></app-claiming-reason>
    </div>
  </div>
</div>
<br/>