<app-public-pre-login></app-public-pre-login>
<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading> -->
<div class="container">
  <div class="row  d-flex justify-content-center">
    <div class="col-md-4">
      <br />

      <div class="card card-outline-secondary">
        <div class="card-body">
          <h4 class="text-center">Login to Continue</h4>
          <hr />
          <div id="avatar">
            <img [src]="userImage == undefined ? defaultImg: userImage">
          </div>
          <form class="form-container" name="form" autocomplete="off" #signin_form="ngForm">
            <div class="form-group">
              <label>Email Address</label>
              <input type="email" class="form-control"title="Ex: john@gmail.com" name="email"
                #email="ngModel" placeholder="Ex: john@gmail.com" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                name="email"  [(ngModel)]="signinObj.email" required (blur)="upload()"/>

              <div *ngIf="(email.dirty || email.touched) && email.invalid">
                <div *ngIf="email.errors.required" class="alert alert-danger">Email is required</div>
                <div *ngIf="email.errors.pattern" class="alert alert-danger">Email is invalid</div>
              </div>
            </div>

            <div class="form-group">
              <label>Password</label>

              <input type="password" class="form-control" autocomplete="off" maxlength="20" title=""
                placeholder="Your Password" name="password" #password="ngModel" [(ngModel)]="signinObj.password"
                required passwordToggle />

              <div *ngIf="(password.dirty || password.touched) && password.invalid">
                <div *ngIf="password.errors.required" class="alert alert-danger">Password is required</div>
              </div>

            </div>

            <div class="row d-flex justify-content-center">
              <div class="col-sm-6 col-md-4 col-lg-3">
                <button type="reset" class="btn btn-success btn-md">
                  Reset
                </button>
               </div>&nbsp;&nbsp;&nbsp;
               <div class="col-sm-6 col-md-4 col-lg-3">
                <button type="submit" [disabled]="!signin_form.valid" (click)="userSignin()" class="btn btn-primary btn-md">
                  Login
                </button>
                <ng-template #dummy>
                  <!--<div class="modal-header">
                    <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal"><span
                    aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    </div>-->
                  <div class="modal-body">
                    <label class="mod1"><b>Enter OTP to Login</b></label><br />

                    <input type="text" class="mod" [(ngModel)]="signinObj.otp" #otp="ngModel" name="otp" autocomplete="off" /><br /><br />

                    <button type="submit" (click)="otpverification()" class="btn btn-primary btn-md">Submit</button>


                  </div>
                </ng-template>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
