.mod{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
     
}
.close{
    background-color: lightgray;
}
img{
    width: 95px;
    background-size: cover;
    height: 95px;
    top: 50px;
    border-radius: 60px;
    /* z-index: 9; */
    /* bottom: 51px; */
    /* left: 0; */
    /* right: 0; */
    padding-right: 50;
    margin: -13px;
    position: initial;
}
 #avatar{
     position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -50px;
     /* width: 95px;
    height: 95px;  */
    border-radius: 50%;
    z-index: 9;
    background: #70c5c0;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); 
    border-radius:50%;
    width:100px;
    height:100px;
    background-size: cover;
} 

.container{
    padding-top:40px;
   

}
.text-center{
    padding-top:43px;
}
.card{
    background:rgba(255,255,255,0.5);
}
