@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.role-div {
    background-color: #67b5b7;
    padding: 1.2rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    border-radius: 1rem;
}

.register-welcome-msg {
    text-align: center;
}

.success-message {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 3rem;
    font-size: 1rem;
    background-color: white;
    box-shadow: 4px 4px 13px #aaaaaa;
    border-radius: 118px 266px / 5px 153px;
}
.reg{
    color:#20a8d8;
    cursor:pointer;
    
}