@import url('https://fonts.googleapis.com/css?family=B612');

.dashboard-content {
    font-family: 'B612', sans-serif;
    background-color: white;
    width: 50%;
    text-align: center;
    padding: 3rem;
    margin: 0 auto;
    font-size: 1.2rem;
}

.dashboard-content div {
    word-wrap: break-word;
}

@media screen and (max-width: 992px) {
    .dashboard-content {
        width: 80%
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 0px darkslateblue;
    }
    to {
        text-shadow: 0 0 50px darkslateblue;
    }
}