<!--<div class="panel card">
  <div class="panel-heading">
    <h3 class="text-center header-title">Block Hash Details</h3>
  </div>

  <div class="panel-body card-body">
    <ul class="list-unstyled" *ngFor="let block of blockHashesObj">
      <li>
        <p>
          <label><b>Block Number</b></label>&nbsp;
          <span class="number">{{block.header.number}}</span><br />
          <label><b>Previous Hash</b></label>&nbsp;
          <span class="previous">{{block.header.previous_hash}}</span><br />
          <label><b>Data Hash</b></label>&nbsp;
          <span class="data">{{block.header.data_hash}}</span><br />
          <label><b>Current Hash</b></label>&nbsp;
          <span class="current">{{block.header.current_hash}}</span>
        </p>
      </li>
    </ul>
  </div>
</div>-->