<app-policy-holder-nav></app-policy-holder-nav>

<div class="panel card success">
    <div class="panel-body card-body">
        

        <label><b>Vehicle No</b></label>&nbsp;
        <input type="text" class="form-control" autocomplete="off" maxlength="40" pattern="\w+ \w+.*" title="Ex: MH12345"
            [(ngModel)]="Blockdata.vehicle_number" name="vehicle_number" #vehicle_number="ngModel" placeholder="Ex: MH12345"
            required />
            <!-- <div *ngIf="(vehicle_number.dirty||vehicle_number.touched) && vehicle_number.invalid">
                <div *ngIf="vehicle_number.errors.required"class="alert alert-danger">Vehicle Number is required</div>
            </div> -->&nbsp;&nbsp;
        <div style="text-align:center"><b>OR</b></div>

        <label><b>Email</b></label>&nbsp;
        <input type="email" class="form-control" autocomplete="off" maxlength="40" pattern="\w+ \w+.*" title="Ex: john@gmail.com"
            [(ngModel)]="Blockdata.email" name="email"#email="ngModel" placeholder="Ex: john@gmail.com"
            required="required" />
            <!-- <div *ngIf="(email.dirty||email.touched) && email.invalid">
                <div *ngIf="email.errors.required"class="alert alert-danger">Email is required</div>
            </div> -->&nbsp;&nbsp;<br />
        <button type="submit" id="bc_submitBtn" class="btn btn-primary btn-md">
            Submit
        </button>
        </div>
    </div>
<br />
<div class="container">
    <div class="row">
            <div class="col-md-6" *ngFor="let claimStatus of allResults">
                    <br />
            <div class="card" *ngIf="show">
                    <div class="card-body" >
                        <h5 class="card-title d-flex justify-content-center">
                            Your Insurance Claiming Status
                        </h5>
                        <hr />
                        <div>
                
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{claimStatus.email}}</td>
                                    </tr>
                                    <tr>
                                        <th>Vehicle No</th>
                                        <td>{{claimStatus.vehicleNo}}</td>
                                    </tr>
                
                                    <tr>
                                        <th>Incident Date</th>
                                        <td>{{claimStatus.Incident_Date}}</td>
                                    </tr>
                                    <tr>
                                        <th>Claiming Reason</th>
                                        <td>{{claimStatus.claim_reason}}</td>
                                    </tr>
                                    <tr>
                                        <th>Claiming Initiate</th>
                                        <td>{{claimStatus.claim_initiated}}</td>
                                    </tr>
                                    
                
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <button *ngIf="claimStatus.claim_status=='pending'" class="btn btn-info btn-sm">{{claimStatus.claim_status}}</button>
                                            <button *ngIf="claimStatus.claim_status=='approved'" class="btn btn-success btn-sm">{{claimStatus.claim_status}}</button>
                                            <button *ngIf="claimStatus.claim_status=='rejected'" class="btn btn-danger btn-sm">{{claimStatus.claim_status}}</button>
                                        </td>
                                    </tr>
                
                                </tbody>
                            </table>
                        </div>
                   </div>
                   
                </div>
                
                <br />
            </div>
                
    </div>
</div>


<div class="container" >
        <div class="row">
                <div class="col-md-4">
                        <br />
                <div class="card" *ngIf="showData" >
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-center">
                                Your Insurance Claiming Status
                            </h5>
                            <hr />
                            <div>
                    
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>Email</th>
                                            <td>{{blockemail}}</td>
                                        </tr>
                                        <tr>
                                            <th>Vehicle No</th>
                                            <td>{{blockvehicle}}</td>
                                        </tr>
                    
                                        <tr>
                                            <th>Incident Date</th>
                                            <td>{{blockincident}}</td>
                                        </tr>
                                        <tr>
                                            <th>Claiming Reason</th>
                                            <td>{{blockreason}}</td>
                                        </tr>
                                        <tr>
                                            <th>Claiming Initiate</th>
                                            <td>{{blockinitiate}}</td>
                                        </tr>
                                        
                    
                                        <tr>
                                            <th>Status</th>
                                            <td>
                                                <button *ngIf="blockstatus=='pending'" class="btn btn-info btn-sm">{{blockstatus}}</button>
                                                <button *ngIf="blockstatus=='approved'" class="btn btn-success btn-sm">{{blockstatus}}</button>
                                                <button *ngIf="blockstatus=='rejected'" class="btn btn-danger btn-sm">{{blockstatus}}</button>
                                            </td>
                                        </tr>
                    
                                    </tbody>
                                </table>
                            </div>
                       </div>
                       
                    </div>
                    
                    <br/>
                </div>
                    
        </div>
    </div>
    