/* You can add global styles to this file, and also import other style files */
@import "~@coreui/coreui/scss/coreui.scss";
@import "~animate.css/animate.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body{
    background-image: url('./assets/images/insurance.jpg');
    height:100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
}

::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: #17a2b8;

}

::selection {
  color: #ffffff;
  background:#17a2b8;
}