.form-control:disabled, .form-control[readonly] {
    background-color: #f9f9f9;
    opacity: 1;
    cursor: default;
}
.success-message {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 2rem;
    font-size: 1rem;
    background-color: white;
    box-shadow: 4px 4px 13px #aaaaaa;
    border-radius: 118px 266px / 5px 153px;
}