<!-- Claiming Reason -->
<br />
<div class="card card-outline-secondary">
    <div class="card-body" *ngIf="hideFormContent">
        <h5 class="text-center">Fill in the below to Claim Insurance</h5>
        <hr />
        <form class="form-container" name="form" autocomplete="off" #claimform="ngForm" enctype="multipart/form-data">
            <!-- Hidden Field -->
            <div class="form-group">
                <label for="vehicleNo">Vehicle Number</label>
                <input type="text" class="form-control" id="vehicleNo" title="MH1234" #vehicleNo="ngModel"
                    placeholder="MH1234" required [(ngModel)]="claimReasonObj.vehicleNo" name="vehicleNo"
                    #email="ngModel" readonly />
            </div>

            <div class="form-group">
                <!-- <label for="email">email</label> -->
                <input type="hidden" class="form-control" id="email" title="john@gmail.com" #email="ngModel"
                    placeholder="john@gmail.com" required="required" [(ngModel)]="claimReasonObj.email" name="email"
                    #email="ngModel" />
                <div *ngIf="(email.dirty||email.touched) && email.invalid">
                    <div *ngIf="email.errors.required" class="alert-alert-danger">Email is required</div>
                </div>
            </div>
            <!-- Hidden Field -->

            <div class="form-group">
                <label for="reason">Reason For Claiming</label>
                <!--<input type="text" class="form-control" id="reason" pattern="\w+ \w+.*" title="Lost/Theft/Accident/Fired"
                    #claim_reason="ngModel" placeholder="Lost/Theft/Accident/Fired" required="required" [(ngModel)]="claimReasonObj.claim_reason"
                    name="claim_reason"  />
                    <div *ngIf="(claim_reason.dirty||claim_reason.touched) && claim_reason.invalid">
                      <div *ngIf="claim_reason.errors.required" class="alert alert-danger">Claiming Reason is required</div>
                  </div>-->
                <select class="form-control" [(ngModel)]="claimReasonObj.claim_reason" name="claim_reason">
                    <option value="undefined" disabled  selected hidden>Select claiming reason</option>
                    <option *ngFor="let claim_reason of claims" [value]="claim_reason" required>
                        {{claim_reason }}
                    </option>
                </select>
            </div>
            <div class="form-group">    
                <label for="Incident">Incident Date</label>
                <input type="date" class="form-control" id="Incident_Date" pattern="\w+ \w+.*" #Incident_Date="ngModel"
                    required [(ngModel)]="claimReasonObj.Incident_Date" name="Incident_Date" (change)="dateCompare()"/>
                <div *ngIf="( Incident_Date.dirty || Incident_Date.touched ) && Incident_Date.invalid">
                    <div *ngIf="Incident_Date.errors.required" class="alert alert-danger">Incident date is required</div>
                    <div class="alert alert-danger" *ngIf="this.parentdata > this.claimReasonObj.Incident_Date || this.claimReasonObj.Incident_Date > this.currentDate">
                        Invalid Date 
                    </div>
    
                    
                </div>
                
            </div>
            <div class="form-group">
                <label>Upload Image</label>
                <input type="file" class="form-control" autocomplete="off" maxlength="20"title="Vehicle/Life Insurance"
                    placeholder="Vehicle/Life Insurance" required [(ngModel)]="claimReasonObj.claim_reason_image"
                    name="claim_reason_image" #claim_reason_image="ngModel" (change)="fileSelected($event)" />
            </div>

            <div class="row justify-content-center">
                <div class="col-sm-6 col-md-5 col-lg-2">
                    <button type="reset" class="btn btn-success btn-md">Reset</button>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-6">
                    <button type="submit" (click)="claimInsurance()" class="btn btn-primary btn-md">
                        Send Claim Request
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body text-center success-message" *ngIf="successMsg">
        <div>Your Claim Request had been Sent!</div>
    </div>
</div>