<app-insurance-provider-nav></app-insurance-provider-nav>

<div class="container">
  <div class="row">
          <div class="col-md-6" *ngFor="let claimStatus of allResults">
                  <br />
          <div class="card">
                  <div class="card-body" >
                      <h5 class="card-title d-flex justify-content-center">
                          Your Insurance Claiming Status
                      </h5>
                      <hr />
                      <div>
              
                          <table class="table table-bordered">
                              <tbody>
                                  <tr>
                                      <th>Email</th>
                                      <td>{{claimStatus.email}}</td>
                                  </tr>
                                  <tr>
                                      <th>Vehicle No</th>
                                      <td>{{claimStatus.vehicleNo}}</td>
                                  </tr>
              
                                  <tr>
                                      <th>Incident Date</th>
                                      <td>{{claimStatus.Incident_Date}}</td>
                                  </tr>
                                  <tr>
                                      <th>Claiming Reason</th>
                                      <td>{{claimStatus.claim_reason}}</td>
                                  </tr>
                                  <tr>
                                      <th>Claiming Initiate</th>
                                      <td>{{claimStatus.claim_initiated}}</td>
                                  </tr>
                                  
              
                                  <tr>
                                      <th>Status</th>
                                      <td>
                                          <button *ngIf="claimStatus.claim_status=='pending'" class="btn btn-info btn-sm">{{claimStatus.claim_status}}</button>
                                          <button *ngIf="claimStatus.claim_status=='approved'" class="btn btn-success btn-sm">{{claimStatus.claim_status}}</button>
                                          <button *ngIf="claimStatus.claim_status=='rejected'" class="btn btn-danger btn-sm">{{claimStatus.claim_status}}</button>
                                      </td>
                                  </tr>
              
                              </tbody>
                          </table>
                      </div>
                 </div>
                 
              </div>
              
              <br />
          </div>
              
  </div>
</div>