<app-header [fixed]="true" [navbarBrandFull]="{src: './assets/images/logo/header-logo.svg', width: 89, height: 25, alt: 'Insurance Portal Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">

  <ul class="nav navbar-nav ml-auto app-title">

      <li>Insurance Portal</li>
  </ul>

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item" routerLink="/login" *ngIf="loginRegister" >
      <button class="btn btn-primary btn-sm"> Login </button>
    </li>
    <li class="nav-item"
      routerLink="/logout"
      *ngIf="logout"
      (click)="logoutFunction()">
      
      <button class="btn btn-primary btn-sm" (click)="logoutFunction()"> Logout </button>
    </li>
    &nbsp;&nbsp;
    <li class="nav-item" routerLink="/register" *ngIf="loginRegister" >
      <button class="btn btn-primary btn-sm"> Register </button>
    </li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
  </ul>
</app-header>

<div>
    <br/><br/><br/>
</div>

<router-outlet></router-outlet>
