<app-pre-login></app-pre-login>

<br />

<div class="card-columns container">
  <!-- Card 1 -->
  <div class="card">
    <div class="inner">
        <div class="view view-cascade overlay">
      <img class="card-img-top" src="./assets/images/home-page/life-insurance-cost.jpg" alt="Indium Insurance Portal" />
      </div>
    </div>
    <div class="card-body">
      <h4 class="card-title">Life Insurance Plans</h4>
      <p class="card-text">Coming Soon</p>
      <button type="button" class="btn btn-outline-primary btn-sm">
        View plan
      </button>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Two Wheelers Plans</h4>
      <div class="inner">
        <img class="card-img-top" src="./assets/images/home-page/two-wheeler-insurance.jpg" alt="Indium Insurance Portal" />
      </div>
      <p class="card-text"></p>
      <button type="button" (click)="viewinsurance('2 Wheelers')" class="btn btn-outline-primary btn-sm">
        View plan
      </button>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Four Wheelers Plans</h4>
      <div class="inner">
        <img class="card-img-top" src="./assets/images/home-page/Car-Loan.jpg" alt="Indium Insurance Portal" />
      </div>
      <p class="card-text"></p>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="viewinsurance('4 Wheelers')">
        View plan
      </button>
    </div>
  </div>

  <!-- Card 4 -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Medical Care Plans</h4>
      <div class="inner">
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="./assets/images/home-page/life.jpg" alt="Indium Insurance Portal" />
        </div>
      </div>
      <p class="card-text">Coming Soon.</p>
      <button type="button" class="btn btn-outline-primary btn-sm">
        View plan
      </button>
    </div>
  </div>

  <!-- Card 5 -->
  <div class="card">
    <div class="inner">
      <div class="view view-cascade overlay">
        <img class="card-img-top" src="./assets/images/home-page/travel.jpg" alt="Indium Insurance Portal" />
      </div>
    </div>
    <div class="card-body">
      <h4 class="card-title">Family Protection Plans</h4>
      <p class="card-text">Coming Soon.</p>
      <button type="button" class="btn btn-outline-primary btn-sm">
        View plan
      </button>
    </div>
  </div>

  <!-- Card 6 -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Travel Insurance Plans</h4>
      <div class="inner">
          <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://images.financialexpress.com/2018/10/TRAVEL_INSURANCE.jpg" alt="Indium Insurance Portal" />
        </div>
      </div>
      <p class="card-text">Coming Soon</p>
      <button type="button" class="btn btn-outline-primary btn-sm">
        View plan
      </button>
    </div>
  </div>
</div>