@import url('https://fonts.googleapis.com/css?family=Oxygen');
table {
    font-family: 'Oxygen', sans-serif;
    text-align: center;

}

.img-style img {
    width: 78px;
    height: 40px;
    transition: transform .2s;
}

.modal-body .modal-img{
    width: 100%;
}
.no-claim{
    padding: 1.2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 900;
    margin: 0 auto;
    width: 50%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }