<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <span class="icon">
          <i class="fa fa-bar-chart"></i>
        </span>
      </div>
      <div class="col-md-9">
        <div class="number float-right">{{blockNumber}}</div><br /><br />
        <div class="title float-right">Total Blocks</div>
      </div>
    </div>
  </div>
</div>