<app-policy-holder-nav></app-policy-holder-nav>

<div class="container">
  <!-- Insurance plans details here -->

  <div class="row">
    <div class="col-md-6">
      <br />
      <div class="card">
        <img class="card-img-top" src="https://cms-img.coverfox.com/save-big-on-two-wheeler-insurance-by-renewing.jpg"
          alt="Insurance Image" />
        <div class="card-body">
          <h5 class="card-title">Two Wheeler Insurance</h5>
          <p class="card-text">Something about two wheelers</p>
        </div>
      </div>
    </div>

    <!-- Form Page -->

    <div class="col-md-6">
      <br />

      <div class="card card-outline-secondary">
        <div class="card-body" *ngIf="hideFormContent">
          <h4 class="text-center">Insure Your Vehicle</h4>
          <hr />
          <form class="form-container" name="form" autocomplete="off" #buyform="ngForm">
            <!-- Must be hidden field -->
            <!-- <div class="form-group">
              <label for="cc_name">Insurance For</label>
              <input
                type="text"
                class="form-control"
                id="cc_name"
                pattern="\w+ \w+.*"
                title="Ex: 2 Wheelers/4 Wheelers/Health"
                [(ngModel)]="InsuranceData.insurance_for"
                name="insurance_for"
                #insurance_for="ngModel"
                placeholder="Ex: 2 Wheelers/4 Wheelers/Health"
                required="required"
              />
            </div>

            <div class="form-group">
              <label>Insurance Year</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                maxlength="40"
                pattern="\w+ \w+.*"
                title="Ex: 1 Year/2 Year plans"
                [(ngModel)]="InsuranceData.insurance_plan_year"
                name="insurance_plan-year"
                #insurance_plan_year="ngModel"
                placeholder="Ex:1 Year/2 Year plans "
                required="required"
              />
            </div> -->

            <!-- Hidden fields ends -->

            <div class="form-group">
              <!-- <label>Insurance Plan Id</label> -->
              <input type="hidden" class="form-control" autocomplete="off" maxlength="40" id="getPlansId" title="5c29a942d3dded42210e8006"
                [(ngModel)]="InsuranceData.getPlansId" name="getPlansId" #getPlansId="ngModel" placeholder="5c29a942d3dded42210e8006"
                required />
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" autocomplete="off" id="email" maxlength="40" 
                title="Ex: john@gmail.com" [(ngModel)]="InsuranceData.email" name="email" #email="ngModel" placeholder="Ex: john@gmail.com"
                required readonly />
              <div *ngIf="(email.dirty||email.touched) && email.invalid">
                <div *ngIf="email.errors.required">Email is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="owner_name">Owner Name</label>
              <input type="text" class="form-control" autocomplete="off" id="owner_name" maxlength="40" 
                title="Insurance Applicant Name" [(ngModel)]="InsuranceData.owner_name" name="owner_name" #owner_name="ngModel"
                placeholder="Insurance Applicant Name" required />
              <div *ngIf="(owner_name.dirty||owner_name.touched) && owner_name.invalid">
                <div *ngIf="owner_name.errors.required" class="alert alert-danger">Owner Name is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="vehicle_model">Vehicle Model</label>
              <input type="text" class="form-control" autocomplete="off" id="vehicle_model" maxlength="40" 
                title="Ex: Harley-Davidson" [(ngModel)]="InsuranceData.vehicle_model" name="vehicle_model "
                #vehicle_model="ngModel" placeholder="Ex: Harley-Davidson Street Glide" required />
              <div *ngIf="(vehicle_model.dirty||vehicle_model.touched) && vehicle_model.invalid">
                <div *ngIf="vehicle_model.errors.required" class="alert alert-danger">Vehicle Model is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="vehicle_number">Vehicle Number</label>
              <input type="text" class="form-control" autocomplete="off" id="vehicle_number" maxlength="40" 
                title="Ex: MH12345" [(ngModel)]="InsuranceData.vehicle_number" name="vehicle_number " #vehicle_number="ngModel"
                placeholder="Ex: MH12345" required />
              <div *ngIf="(vehicle_number.dirty||vehicle_number.touched) && vehicle_number.invalid">
                <div *ngIf="vehicle_number.errors.required" class="alert alert-danger">Vehicle Number is required</div>
              </div>
            </div>


            <div class="form-group">
              <label for="vehicle_price">Vehicle Price</label>
              <input type="text" class="form-control" autocomplete="off" id="vehicle_price" maxlength="40" 
                title="Ex: Your vehicle price at the time of Mfg" [(ngModel)]="InsuranceData.vehicle_price" name="vehicle_price "
                #vehicle_price="ngModel" placeholder="Ex: Your vehicle price at the time of Mfg" required />
              <div *ngIf="(vehicle_price.dirty||vehicle_price.touched) && vehicle_price.invalid">
                <div *ngIf="vehicle_price.errors.required" class="alert alert-danger">Vehicle Price is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="purchased_date">Purchased Date</label>
              <input type="date" class="form-control" id="purchased_date" pattern="\w+ \w+.*" #purchased_date="ngModel"
                 [(ngModel)]="InsuranceData.purchased_date" name="purchased_date" (change)="date()" required/>
              <div *ngIf="( purchased_date.dirty || purchased_date.touched ) && purchased_date.invalid">
                <div *ngIf="purchased_date.errors.required" class="alert alert-danger">Purchased Date is required</div>
                <div class="alert alert-danger" *ngIf="this.InsuranceData.purchased_date > this.currentDate ">
                  Invalid Date
                </div>


              </div>

            </div>



            <div class="form-group">
              <label for="accident_involved">Accident Involved</label> &nbsp;&nbsp;

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="accident_involved" id="accidentYes" [(ngModel)]="InsuranceData.accident_involved"
                  name="accident_involved" #accident_involved="ngModel" value="yes" required />
                <label class="form-check-label" for="accidentYes">Yes</label>

              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="accident_involved" id="accidentNo" [(ngModel)]="InsuranceData.accident_involved"
                  name="accident_involved" #accident_involved="ngModel" value="no" required />
                <label class="form-check-label" for="accidentNo">No</label>

              </div>
              <div *ngIf="(accident_involved.dirty||accident_involved.touched) && accident_involved.invalid">
                <div *ngIf="accident_involved.errors.required" class="alert alert-danger">Accident Involved is required</div>
              </div>
            </div>

            <div class="form-group">
              <div *ngIf="InsuranceData.accident_involved=='yes'">
                <label for="comments">Comments</label>
                <textarea class="form-control" rows="5" id="comments" [(ngModel)]="InsuranceData.comments" name="comments"
                  #comments="ngModel" placeholder="Say about the accident involved" required ></textarea>
                <div *ngIf="(comments.dirty||comments.touched) && comments.invalid">
                  <div *ngIf="comments.errors.required" class="alert alert-danger">Comments is required</div>
                </div>
              </div>
            </div>

            <div class="row d-flex justify-content-center">
              <div class="col-sm-6 col-md-5 col-lg-2">
                <button type="reset" class="btn btn-success btn-md">
                  Reset
                </button>
              </div>
              <div class="col-sm-6 col-md-5 col-lg-2">
                <button type="submit" (click)="buyplans()" [disabled]="this.InsuranceData.purchased_date > this.currentDate"
                  class="btn btn-primary btn-md">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="card-body text-center success-message" *ngIf="successMsg">
          <div>You had Insured your vehicle !</div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>