<app-header [fixed]="true" [navbarBrandFull]="{src: './assets/images/logo/header-logo.svg', width: 89, height: 25, alt: 'Insurance Portal Logo'}"
  [sidebarToggler]="'lg'"[asideMenuToggler]="'lg'">

<!--   <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="/dashboard/user-profile">Users</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="/">Settings</a>
    </li>
  </ul> -->

  <ul class="nav navbar-nav ml-auto app-title">
      <li>Insurance Portal</li>
  </ul>

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img src="{{userImage}}" tooltip="{{getCookieValue}}" data-placement="left"class="img-avatar" alt="admin@test.cc" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>        
        <div class="divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i>Logout</a>
      </div>
    </li>
  </ul>
</app-header>

<div class="app-body">
  <app-sidebar [fixed]="true" [display]="false">
    <app-sidebar-nav  [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <!-- <app-sidebar-minimizer></app-sidebar-minimizer> -->
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      
      <!-- Welcome Message -->
      
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
             <div><b>Role - Insurance Provider</b></div>
            <!-- <img class="img1"src="{{userImage}}"> -->
        </div>
      </li>
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false">
    <ul class="navbar-nav mr-auto text-center">
        <li class="nav-item active text-center">
          <a class="nav-link" routerLink="/blockchain-dashboard"><span class="sr-only">(current)</span><i class="fa fa-btc" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;BC Explorer 
          </a>
        </li> 
        <li class="nav-item active text-center">
          <a class="nav-link" routerLink="/provider-blockclaim"><span class="sr-only">(current)</span><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Provider Claim Status</a>
         </li>         
      </ul>    
</app-aside>
</div>
<!-- 
<app-footer>
  <span><a href="https://coreui.io">CoreUI</a> &copy; 2018 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer> -->