/* .panel{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    width:700px;
    background-color:white;
    float:left;
}
.panel .panel-heading
{
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;

}
.panel .panel-body{
    padding-top: 10px;
    padding-bottom: 15px;
}
.panel-body{
    padding-left: 25px;
    padding-right: 25px;
    max-height:400px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}
.list-unstyled{
    padding-left: 0;
    list-style: none;

}
ul{
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
    border:1px solid black;
    background-color: gray;
}
li{
    position: relative;

}
li p{
    
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        margin: 0;
        padding: 10px 0 10px 25px;

}
.number{
    font-size: 16px;
    font-weight: 200;
}
.previous{
    font-size: 16px;
    font-weight: 200;
}
.data
{
    font-size:16px;
    font-weight:200;
}
 */

 .card{
    max-height: 500px;
    overflow-y: scroll;
    background-color: #ffffff;
 }

 li p{
    margin: 0;
    padding: 10px 0;
    box-shadow: 5px 1px 9px #888888;
    padding-left:10px;
    background-color:#ffe9e9;
}

.header-title{
    padding-top: 26px;
}