<!-- Navigation -->
<span *ngIf="getUserData == 'insurance_provider'">
  <app-insurance-provider-nav></app-insurance-provider-nav>
</span>
<span *ngIf="getUserData == 'insurance_holder'">
   
  <app-policy-holder-nav></app-policy-holder-nav>
</span>
<span
  *ngIf="
    getUserData != 'insurance_holder' && getUserData != 'insurance_provider'
  "
>
  <app-public-pre-login>
  </app-public-pre-login>
</span>

<br />

<div class="container" *ngIf="insurances">
  <div class="row">
    <div class="col-md-4" *ngFor="let insurance of insurances.payload">
      <div class="card">
        <div class="card-body" *ngIf="showDataFlag">
          <ul class="list-group">
            <li class="list-group-item active">
              <h4 class="card-title text-center">
                {{ insurance.insurance_category.category }} Insurance Plan
              </h4>
            </li>
            <li class="list-group-item">
              <p class="card-text">
                <b>{{ insurance.insurance_for }}</b> Insurance Plan for
                <b>{{ insurance.insurance_plan_year }}</b> 
              </p>
            </li>
            <li class="list-group-item">
              <p class="card-text">
                Yearly premium is <b> {{ insurance.yearly_premium }}</b>
              </p>
            </li>
            <li class="list-group-item">
              <p class="card-text">
                Insurance Provided By
                <b>{{
                  insurance.insurance_category.insurance_provider_name
                }}</b>
              </p>
            </li>
          </ul>

          <br />

          <button
            type="button"
            (click)="buy(insurance._id)"
            class="btn btn-outline-primary btn-sm float-right"
          >
            Buy Plan
          </button>
          
          <br />
          
        </div>
      </div>
    </div>
    <div class="card no-data" *ngIf="!showDataFlag">No Data To Display</div> 
  </div>
</div>