.list-group {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.no-data{
    padding: 1.2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 900;
    margin: 0 auto;
    width: 50%;
}