@import url('https://fonts.googleapis.com/css?family=Oxygen');
table {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
}

.img-style img {
    width: 78px;
    height: 40px;
}

.no-claim{
    padding: 1.2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 900;
    margin: 0 auto;
    width: 50%;
}