<app-inspector-nav></app-inspector-nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br />
            <div class="card">
                <table class="table table-bordered table-hover table-responsive-sm" *ngIf="showTable">
                    <thead>
                        <tr>
                            <th scope="col">S.No.</th>
                            <th scope="col">Vehicle No</th>
                            <th scope="col">Claim Initiated</th>
                            <th scope="col">Claim Status</th>
                            <th scope="col">Claiming Reason</th>
                            <th scope="col">Claiming Image</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let claim of claimRequestObj; let i = index; ">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{claim.vehicleNo}}</td>
                            <td>{{claim.claim_initiated}}</td>
                            <td><input type="button" class="btn btn-success btn-sm" value={{claim.claim_status}}/></td>
                            <td>{{claim.claim_reason}}</td>
                            <td class="img-style">
                                <img src="indiuminsurance.ml{{claim.claim_reason_image.split('public')[1]}}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="no-claim" *ngIf="!showTable">No Approved Claims</div>
            </div>
        </div>
    </div>
</div>