@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Merienda');


.app-title li{
    font-family: 'Merienda', cursive;
    color: #4a5569;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;    
    cursor: default;
    
}


:host ::ng-deep .app-header .navbar-toggler{
    display: none;
}
:host::ng-deep .app-header .navbar-brand{
    pointer-events: none;
    cursor: default;
}
@media only screen and (max-width: 992px) {
    :host ::ng-deep a.navbar-brand{
        display: none;
    }

    .app-title li{
        font-size: 1rem;
    }
}