<span *ngIf="getUserData == 'insurance_holder'">
  <app-policy-holder-nav></app-policy-holder-nav>
</span>
<span *ngIf="getUserData == 'insurance_provider'">
   
  <app-insurance-provider-nav></app-insurance-provider-nav>
</span>
<span *ngIf="getUserData == 'inspector'">
   
  <app-inspector-nav></app-inspector-nav>
</span>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <app-block-count></app-block-count>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <span class="icon">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
            <div class="col-md-9">
              <div class="number float-right">MyInsuranceChannel</div><br /><br />
              <div class="title float-right">Channel Name</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <span class="icon">
                <i class="fa fa-paper-plane"></i>
              </span>
            </div>
            <div class="col-md-9">
              <div class="number float-right">peer0.org0.insurance.com</div><br /><br />
              <div class="title float-right">Peers</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <app-block-details></app-block-details>
    </div>

     <div class="col-md-6">
      <app-block-data></app-block-data>
    </div> 
  </div>

</div>