
.card-body{
    padding: 2.25rem;
}

.card .icon i{
    border-radius: 50%;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #0081c2;
    text-align: center;
    color: white;
    font-size: 18px;
}

.number{
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
}
.card:hover{
    transform: scale(1.10, 1.10);
}

.title{
    font-size: 20px;
    font-weight: 300;
}
.col-md-9{
    height:9px;
}
